@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Cabin:ital,wght@0,400..700;1,400..700&family=Jersey+10+Charted&family=Permanent+Marker&display=swap');

* {
    padding: 0;
    margin: 0;
}

header {
     
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #281d3e;
    padding: 1rem;
}

.menu ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: aliceblue;
    padding: 0.5rem;
    font-family: "Ubuntu", sans-serif;
    transition:  color 1.1s ease, transform 1 ease;
}

.menu a:hover{
    color: #db0080;
    transform: translateY(-3px);
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: #b28ef8;
   
}

.inicio {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    box-sizing: border-box;
}

.texto-inicio h1 {
    color:#3f1636;
    font-family: "Jersey 10 Charted", sans-serif;
    font-size: 4rem;
    font-weight: 400;
}

.Subtitulo {
  color:  #001d41;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

.titulo{ position: absolute;
    left: 2rem;
    top: 1rem;
    color: #b28ef8;
}


.imagem-inicio {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-inicio img {
    width: 100%;
    max-width: 500px;
}

.btn-contato{
    padding: 0.7rem 0.5rem;
    background-color: #e52687;
    border-radius: 0.7rem;
}

.btn-contato:hover{
    color: #281d3e;
}

/*efeito de titulo
*/.Subtitulo {
   display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #B86BFF;
    animation: 
        typing 3s steps(30) forwards,
        cursor .7s infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width:30ch;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}
